.span-ticker {
  margin-right: 5px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-button {
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
